# Creating A Recommender System

In [2]:
#import modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn')
plt.rcParams['figure.figsize'] = (16,6)

import datetime
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import fpgrowth

import my_funcs

In this notebook we're going to look at patterns in purchaser behaviour.

In [5]:
merged = pd.read_csv('outputs/merged.csv')
df = merged

# Support Table Function

## Using fpgrowth to generate a support table


make a binary 'recipe' for baskets in the data, using the COMMODITY_DESC labels

306 columns of COMMODITY_DESC labels;

one row for each basket given in product_lists.

### Product Lists for each `BASKET_ID`

In [6]:
product_lists = df.groupby('BASKET_ID')['COMMODITY_DESC' ].apply(list)

In [7]:
product_lists[:3]

BASKET_ID
28179463886    [APPLES, STONE FRUIT, WATER - CARBONATED/FLVRD...
28179603462             [COLD CEREAL, FROZEN PIZZA, COLD CEREAL]
28179654108    [CANDY - CHECKLANE, CANDY - CHECKLANE, CANDY -...
Name: COMMODITY_DESC, dtype: object

In [8]:
len(product_lists), merged.shape[0] # theres about 10 products in each basket.

(233794, 2380950)

### Transaction Encoding -- Basket 'Recipes' as Binary Columns

In [9]:
# transaction encoding...
te = TransactionEncoder()
te_fit = te.fit_transform(product_lists.values, sparse=True) # encode each 
te_df = pd.DataFrame.sparse.from_spmatrix(te_fit, columns=[str(i) for i in te.columns_])

In [10]:
te_df.head()

,(CORP USE ONLY),ADULT INCONTINENCE,AIR CARE,ANALGESICS,ANTACIDS,APPAREL,APPLES,AUDIO/VIDEO PRODUCTS,AUTOMOTIVE PRODUCTS,BABY FOODS,...,VEAL,VEGETABLES - ALL OTHERS,VEGETABLES - SHELF STABLE,VEGETABLES SALAD,VITAMINS,WAREHOUSE SNACKS,WATCHES/CALCULATORS/LOBBY,WATER,WATER - CARBONATED/FLVRD DRINK,YOGURT
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Notes about the model

We can see that this technique could be used for any groupings (baskets) of sequences (items) for which **the order of the sequences in the basket does not matter**. 

In the next step, we'll be calculating the frequency of co-occurrence of these `tokens`. That step ends up being very similar to TermFrequency-InverseDocumentFrequency (TF-IDF) encoding, and the purpose is very much the same -- to get a general idea of the **relevance of tokens** based on their occurrence in baskets overall (from the sample set).

This means that in order for our model to make sense, we have to comparing the **token `support` for the appropriate baskets**.

### Interpretation and HyperParameters

- Now that we have those sequences, we can effectively transpose them against one another in an iterative fashion and develop a total frequency of co-occurence chart for each item with other items (as members of distinct baskets) with one another.

    - The time and space cost of this model can be adjusted using hyperparameters.

    - This ends up being a fairly expensive operation in terms of computing power, especially for the second step, and shouldn't necessarily be run on a streamlit app...maybe the cloud ;).

    - However, in exchange, we get a wonderfully insightful look into our customer's behaviour.
    
    
- The `support` metric, indicates that a certain item or sequence of items occurs in more than a certain percentage of our baskets; ie 0.005 indicates a 1 in 200 occurrence. 

    - By adjusting the `max_len` parameter, we can control how long these sequences can each be. 

    - The 'hyperparameter' `min_support` indicates how deep the model has to go, looking for patterns. A lot of combinations are cut off almost at once, if the relationship must occur in more than 1/10 baskets!


- **For the next step**, the `support` metric will refer to the **co-occurence of these `antecedent` and `consequent` sequences**. However here it refers simply to the support of an item with itself -- it's ratio of occurrence in all baskets.
    - These initial common `tokens` will make up the basis for our future analysis; they are `frequent item(set)s`, and are stored in a `support table`.

### Final 'Model'

In [21]:
# fpgrowth table
fp_table = fpgrowth(te_df, 
                            min_support=0.1, 
                    
                            use_colnames=True, 
#                                     verbose=True, 
                            max_len=1,   # can alter max_len here.
                            #, low_memory=True,                                   
                            )
# adding a length column for posterity and filtering
fp_table['size'] = fp_table['itemsets'].apply(lambda x: len(x))

In [22]:
fp_table.sort_values('support', ascending=False)

    support                  itemsets  size
1  0.283570             (SOFT DRINKS)     1
2  0.276906     (FLUID MILK PRODUCTS)     1
3  0.240652  (BAKED BREAD/BUNS/ROLLS)     1
4  0.187982                  (CHEESE)     1
5  0.167246              (BAG SNACKS)     1
6  0.146005                    (BEEF)     1
9  0.129071          (TROPICAL FRUIT)     1
7  0.111838                    (EGGS)     1
8  0.102646  (REFRGRATD JUICES/DRNKS)     1
0  0.100306             (COLD CEREAL)     1

**These are all of the labels of *individual items* which exist in more than 1/10 baskets**; those having "sequence length" 1.

We only see the **individual** category labels because we set the parameter `max_len` = `1` in the code above. We also used a `min_support` threshold of 0.1 -- that's why it was so fast to complete. 

There are fpgrowth or apriori algorithms which perform this functionality.

As we increase the `max_len` parameter, reduce the `min_support`, or increase the number of labels (represented in our recipes by the binary columns), we increase the computation power and time necessary to complete the algorithm. 

We can see the surface very quickly; but to go deeper and see more defined or unique relationships, it will take more time and computation power. Moreover, it might be difficult or irrelevant to distinguish those 'patterns' from statistical random chance among All users or transactions. My assumption here is that **distinct customer clusters** will purchase differently -- and if they do, that we might be able to recommend purchases for one household which another similar household also purchased (given the same `antecedent` chain...). 

It might be interesting to look at which products a customer purchased *the next time they visited the store*. 

---

### Generating Support Tables for Distinct Customer Segments

**Based on the above, I want to have a 'support' table for independent and distinct *customer segments*.**
- Since we want our recommendations to be offered on streamlit; we should complete the calculations locally and save the results.

These segments should be easy to interpret, and provide a meaningful distinction from the other groups.

Using something like `RFM score` to denote similar customers might work, but is perhaps not as meaningful as other labelling strategies could be. The **RFM score only takes into account those three attributes**; recency, frequency, and monetary ranks -- not the types of purchases, and certainly not **the motivation behind this behaviour**.

- **What are some alternatives** instead of recommending items that 'similar' customers have purchased? 
    - Generating a support table for all 5 metrics for each individual household might not make sense, as it is computationally intensive. Moreover, for customers who rarely vary their purchases, we might require different thresholds (and, incidentally, have a more difficult time swaying their behaviour). This is an optimization step we would prefer to avoid (especially when implementing on streamlit).

- With that being said; instead of producing a support table for our distinct clusters, can we **reverse-engineer our customer labels based on purchase behaviour**?
    - Since we have demographic information for some households, a complicated thought occurs to me:
        - By taking the transactions of only the households for which we have demographic information and converting that into an aggregate table; then splitting it into training and test sets; we could try to predict the aggregate 'demographic' columns for our remaining households. These labels would be much easier to interpret; for example to distinguish between single-member households, and families of 5+. Doing so would be introducing significant bias and potential for error (as our model will never be perfect). 

- More easily we might use **RFM score window-thresholds** (ie. RFM[0-5)], RFM[5-10)], RFM[(10-15]

- One more option would be to assign cluster labels using **unsupervised learning, like K-Means**.

## `get_support_table`

Let's put it in a function, so we can decide later.

In [13]:
max_len=10 # baskets are around 10 items each, on average
min_support=0.05 # which sequences exist in more than 1/200 transactions?

In [ ]:
def get_support_table(df, 
                      max_len=10,
                      min_support=0.05,
                      baskets='BASKET_ID',
                      column='COMMODITY_DESC'): 
    '''   
    # create product lists for each basket
        # using pandas
    # encode using TransactionEncoder()
    # create fpgrowth table
        # using mlxtend
    #
    # return:
    # the support table of transactions from `df`:
    
    # grouped by `baskets`; 
    # of sequences no greater than `max_len` in size;
    # return a dataframe of those occuring more than (`min_support`/1) times
    '''                            
    product_lists = df.groupby('BASKET_ID')[column].apply(list) # apply list constructor

    # transaction encoding...
    te = TransactionEncoder()
    te_fit = te.fit_transform(product_lists.values, sparse=True) # encode each 
    te_df = pd.DataFrame.sparse.from_spmatrix(te_fit, columns=[str(i) for i in te.columns_])

    # fpgrowth table
    frequent_itemsets = fpgrowth(te_df, 
                                min_support=min_support, #support_threshold=0.05
                                use_colnames=True, 
#                                     verbose=True, 
                                max_len=max_len,   # can alter max_len here.
                                #, low_memory=True,                                   
                                )
    # adding a length column for posterity and filtering
    frequent_itemsets['size'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

    # save variable for reference...
    return frequent_itemsets

In [24]:
# save variable for reference...
fp_table = get_support_table(merged)

In [25]:
# give me the top-supported sequences
print(f'{len(fp_table)} sequences had a support greater than {min_support}')
fp_table.sort_values('support', ascending=False).head()

# 0.05 is 1/20 occurrence.
# 0.25 is 1/4 occurrence.

74 sequences had a support greater than 0.05

     support                  itemsets  size
6   0.283570             (SOFT DRINKS)     1
7   0.276906     (FLUID MILK PRODUCTS)     1
8   0.240652  (BAKED BREAD/BUNS/ROLLS)     1
9   0.187982                  (CHEESE)     1
10  0.167246              (BAG SNACKS)     1

We chose a large `max_len` (increasing computation time), but a relatively high `min_support` threshold, which made things easier; we aren't 'seeding' our table with a very large number of relationships between (`antecedent` and `consequent`) items (or sequences).

- you can see that the operation took significantly longer than a webpage takes to load. 

The sequences below are the only ones of length 3 or longer which occurred in more than 1/20 baskets;

In [26]:
print(f"The longest chain of items occurring in more than {min_support} baskets was of length {fp_table['size'].max()}, up to a possible of {max_len}.\nThey're listed below:")
fp_table[fp_table['size']>2]

The longest chain of items occurring in more than 0.05 baskets was of length 3, up to a possible of 10.
They're listed below:

     support                                           itemsets  size
52  0.056768  (SOFT DRINKS, BAKED BREAD/BUNS/ROLLS, FLUID MI...     3
56  0.061263  (CHEESE, BAKED BREAD/BUNS/ROLLS, FLUID MILK PR...     3

Now that we have a support table, we can derive some more meaningful insights using the *association rules algorithm*.

Since we ran the support table on such a large set of transactions, above, our `support` values are pretty low. 

- We'll talk more about other metrics in a minute... but they answer some of the questions you might want to ask, such as: 
    - which sequences co-occur most often?
    - which items are 'trigger' purchases and -only- purchased in the presence of another sequence?

For now let's call the `association_rules` function from mlxtend:

- the `min_threshold` parameter controls how deep the algorithm must go to look for patterns;

In [27]:
association_rules(fp_table, metric='support', min_threshold=0.1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(SOFT DRINKS),(FLUID MILK PRODUCTS),0.283570,0.276906,0.101551,0.358116,1.293275,0.023029,1.126517
1,(FLUID MILK PRODUCTS),(SOFT DRINKS),0.276906,0.283570,0.101551,0.366734,1.293275,0.023029,1.131326
2,(BAKED BREAD/BUNS/ROLLS),(FLUID MILK PRODUCTS),0.240652,0.276906,0.124263,0.516361,1.864750,0.057625,1.495110
3,(FLUID MILK PRODUCTS),(BAKED BREAD/BUNS/ROLLS),0.276906,0.240652,0.124263,0.448756,1.864750,0.057625,1.377516

We get this table back. Notice that the `support` metric in **this** table refers to the co-occurence of the distinct sequences of items; while the original `support` value for each is listed under the `antecedent-` or `consequent-support` columns, respectively. 

Moreover, it should become obvious that we have redundant/mirrored values in the top 4.

We parsed this table using the 'support' metrics, and as you can see, the sequences share a `support` value -- a normalized occurrence value. In any places where that shared `support` value is above the threshold, there will be two rows; one each for the `antecedent` and `consequent` relationship between these items.

# Association Rules

Generating insights using the previously-generated co-occurrence table

In [28]:
def assoc_table(support_table, 
                metric='lift',
                min_threshold=1):
    '''thin wrapper(?) for association_rules call
    
    returns:
        adds on the consequent and antecedent chain lengths, for filtering.
    '''
    
    rules = association_rules(support_table,
                              metric=metric, # metric='confidence' 
                              min_threshold=min_threshold) 
    rules["consequent_len"] = rules["consequents"].apply(lambda x: len(x))
    rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
    
    return rules

Let's take a look at the different metrics by example, but to do so, we'll take only the support table for one household.

A lift greater than 1 indicates that the consequent was purchased much more frequently in the presence of an antecedent chain;

In [32]:
merged[merged['household_key'] == 1].shape

(1632, 19)

In [ ]:
%%time
df = merged[merged['household_key'] == 1]
sp_tbl = get_support_table(df, min_support=0.05) # 1 in 20 occurrence

In [42]:
%%time
rules = assoc_table(sp_tbl, metric='lift', min_threshold=1) 
rules.head()

Wall time: 2 ms

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, consequent_len, antecedent_len]
Index: []

In [35]:
rules.shape # holy. 10 million relationships.

(10052334, 11)

In [36]:
rules.sort_values('lift', ascending=False).head(3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,consequent_len,antecedent_len
2288769,"(DRY NOODLES/PASTA, COOKIES/CONES, REFRGRATD J...","(VEGETABLES - SHELF STABLE, BAKED BREAD/BUNS/R...",0.061728,0.061728,0.061728,1.0,16.2,0.057918,inf,5,3
3638273,"(BAKED BREAD/BUNS/ROLLS, FRUIT - SHELF STABLE,...","(LUNCHMEAT, HEAT/SERVE, SOUP, COOKIES/CONES, D...",0.061728,0.061728,0.061728,1.0,16.2,0.057918,inf,5,5
2320966,"(FLUID MILK PRODUCTS, LUNCHMEAT, MARGARINES, C...","(VEGETABLES - SHELF STABLE, REFRGRATD JUICES/D...",0.061728,0.061728,0.061728,1.0,16.2,0.057918,inf,5,5

In [37]:
all(list(rules['antecedents'].value_counts()) == (rules['consequents'].value_counts()))

True

## Understanding Metrics

 From the mlxtend association_rules() docs:
    
Metric to evaluate if a rule is of interest.
Automatically set to 'support' if `support_only=True`.

**Otherwise, supported metrics are 'support', 'confidence', 'lift',
'leverage', and 'conviction'**

These metrics are computed as follows:

- support(A->C) = support(A+C) [aka 'support'], range: [0, 1]

- confidence(A->C) = support(A+C) / support(A), range: [0, 1]

We see that confidence is simply the support, divided by the occurence of the `antecedent` in the dataset. This is effectively tf-idf.

The support of A->C and C->A will be the same.

The remaining three metrics are derived from the `support` and `confidence`;

- lift(A->C) = confidence(A->C) / support(C), range: [0, inf]

- leverage(A->C) = support(A->C) - support(A)*support(C),
range: [-1, 1]

- conviction = [1 - support(C)] / [1 - confidence(A->C)],
range: [0, inf]

In [100]:
metrics = ['lift', 'conviction', 'confidence', 'support', 'leverage']
min_thresholds = [1, 1, 0.5, 0.1, 0.05] # we'll trim the outputs down a bit anyways.

def make_tests(support_table, metrics, thresholds):
    
    container = dict()
    
    for metric, threshold in zip(metrics, thresholds):
        container[f'{metric}'] = assoc_table(support_table, 
                                             metric=metric, 
                                             min_threshold=threshold)
    return container

rules = make_tests(sp_tbl, metrics, min_thresholds)

In [107]:
rules['lift']['antecedents'].value_counts()

(PAPER TOWELS)                                                          881
(EGGS)                                                                  723
(TROPICAL FRUIT)                                                        629
(MARGARINES)                                                            579
(BEEF)                                                                  535
                                                                       ...
(CHEESE, EGGS, CARROTS)                                                   1
(LAXATIVES)                                                               1
(EGGS, TROPICAL FRUIT, PAPER TOWELS, FRZN MEAT/MEAT DINNERS, CHEESE)      1
(EGGS, TROPICAL FRUIT, FRZN MEAT/MEAT DINNERS, CHEESE, BEEF)              1
(FRZN JCE CONC/DRNKS, BEEF, FRZN MEAT/MEAT DINNERS, TROPICAL FRUIT)       1
Name: antecedents, Length: 1580, dtype: int64

This is a critical juncture in the creation of our class. 

From what should the Recommender base draw its 'support' from? How do we decide which `antecedent` to use?

Weeelllll, we have these product lists from campaigns...

In [141]:
campaigns = pd.read_csv('outputs/campaign_summary.csv', index_col=0).T

In [142]:
campaigns

,First Day,Last Day,Duration,Listed Products,Section Label Counts,Listed Products Total Sales,Listed Products Sales Before,Listed Products Sales During,Listed Products Sales After,First Date,Last Date,timedelta
1,346,383,38,"[28929, 29096, 32387, 32805, 33198, 34180, 343...","{'produce': 158, 'dairy': 150, 'meat': 44, 'be...",57095.46000000001,21854.53,4145.12,31095.809999999998,2005-03-03 00:00:00,2005-04-09 00:00:00,37 days 00:00:00
2,351,383,33,"[49910, 61481, 61509, 67573, 80730, 82937, 857...","{'produce': 97, 'junk_food': 61, 'grocery': 56...",47662.55,19708.03,2713.8599999999997,25240.660000000003,2005-03-08 00:00:00,2005-04-09 00:00:00,32 days 00:00:00
3,356,412,57,"[34214, 70714, 70714, 71794, 72290, 72290, 723...","{'produce': 172, 'home_family': 151, 'misc': 1...",43282.66,18003.9,4418.59,20860.170000000002,2005-03-13 00:00:00,2005-05-08 00:00:00,56 days 00:00:00
4,372,404,33,"[27160, 29977, 31349, 32491, 64543, 68122, 711...","{'misc': 91, 'grain_goods': 78, 'meat': 12, 'd...",35229.93,16032.939999999999,1858.32,17338.67,2005-03-29 00:00:00,2005-04-30 00:00:00,32 days 00:00:00
5,377,411,35,"[65969, 66323, 67208, 67481, 67676, 69613, 697...","{'home_family': 425, 'misc': 12, 'grocery': 6}",29514.660000000003,15481.51,1827.9099999999999,12205.24,2005-04-03 00:00:00,2005-05-07 00:00:00,34 days 00:00:00
6,393,425,33,"[13005962, 13007355, 13007356, 13007435, 13007...",{'dairy': 18},1999.5599999999997,320.93999999999994,155.71999999999997,1522.8999999999999,2005-04-19 00:00:00,2005-05-21 00:00:00,32 days 00:00:00
7,398,432,35,"[73428, 74892, 80493, 80553, 110801, 558298, 8...","{'home_family': 199, 'drug': 37, 'meat': 16, '...",14246.100000000002,6429.740000000001,761.44,7054.92,2005-04-24 00:00:00,2005-05-28 00:00:00,34 days 00:00:00
8,412,460,49,"[1062425, 5581193, 903261, 2081690, 1096556, 9...","{'meat': 6130, 'produce': 2603, 'dairy': 1698,...",2501917.54,1256429.1300000001,208834.62,1036653.7899999997,2005-05-08 00:00:00,2005-06-25 00:00:00,48 days 00:00:00
9,435,467,33,"[27754, 28929, 29096, 29340, 30699, 31999, 341...","{'grain_goods': 202, 'drug': 131, 'beverages':...",107146.87999999999,54826.119999999995,6071.83,46248.93,2005-05-31 00:00:00,2005-07-02 00:00:00,32 days 00:00:00
10,463,495,33,"[33555, 55021, 59433, 60997, 61750, 64322, 128...","{'home_family': 367, 'misc': 14, 'drug': 7, 'g...",37958.89,24395.78,1777.0300000000002,11786.08,2005-06-28 00:00:00,2005-07-30 00:00:00,32 days 00:00:00
11,477,523,47,"[70371, 81421, 89810, 95025, 95165, 122223, 19...","{'home_family': 159, 'misc': 94, 'junk_food': ...",25659.15,15208.91,1989.0900000000001,8461.150000000001,2005-07-12 00:00:00,2005-08-27 00:00:00,46 days 00:00:00
12,477,509,33,"[28897, 32272, 32918, 34742, 41363, 43871, 455...","{'grain_goods': 340, 'meat': 107, 'grocery': 9...",109810.49,67778.64000000001,5805.469999999999,36226.380000000005,2005-07-12 00:00:00,2005-08-13 00:00:00,32 days 00:00:00
13,504,551,48,"[1085765, 12673308, 316011, 1049788, 1164410, ...","{'home_family': 8150, 'meat': 7007, 'drug': 65...",3639949.35,2378181.9699999997,280923.41000000003,980843.9700000002,2005-08-08 00:00:00,2005-09-24 00:00:00,47 days 00:00:00
14,531,596,66,"[34214, 48728, 48728, 71794, 72290, 73681, 736...","{'home_family': 386, 'produce': 172, 'misc': 9...",45266.299999999996,32238.449999999997,4569.9800000000005,8457.869999999999,2005-09-04 00:00:00,2005-11-08 00:00:00,65 days 00:00:00
15,547,708,162,"[644275, 679538, 709863, 819227, 840260, 84813...",{'home_family': 55},2883.33,1855.63,1008.13,19.57,2005-09-20 00:00:00,2006-02-28 00:00:00,161 days 00:00:00
16,561,593,33,"[35159, 78017, 83617, 85340, 93320, 137584, 14...","{'drug': 920, 'home_family': 84, 'meat': 16, '...",23176.08,15669.79,1606.0300000000002,5900.26,2005-10-04 00:00:00,2005-11-05 00:00:00,32 days 00:00:00
17,575,607,33,"[37756, 40440, 41376, 47996, 48081, 49910, 525...","{'meat': 269, 'junk_food': 191, 'dairy': 104, ...",90347.12000000001,69460.62,4957.24,15929.260000000002,2005-10-18 00:00:00,2005-11-19 00:00:00,32 days 00:00:00
18,587,642,56,"[9420358, 1112169, 830920, 866889, 1037792, 10...","{'home_family': 8228, 'meat': 6967, 'drug': 65...",3608615.980000001,2828422.879999999,350833.49,429359.61,2005-10-30 00:00:00,2005-12-24 00:00:00,55 days 00:00:00
19,603,635,33,"[55021, 59433, 60997, 61750, 65969, 66323, 672...","{'home_family': 363, 'misc': 12}",42384.08,31795.92,3105.5600000000004,7482.6,2005-11-15 00:00:00,2005-12-17 00:00:00,32 days 00:00:00
20,615,685,71,"[33061, 34214, 70714, 70714, 71794, 72290, 736...","{'home_family': 351, 'produce': 161, 'misc': 7...",39973.670000000006,33399.62,4860.5,1713.55,2005-11-27 00:00:00,2006-02-05 00:00:00,70 days 00:00:00
21,624,656,33,"[33965, 56293, 60924, 77032, 137674, 146648, 2...","{'dairy': 108, 'grocery': 43, 'grain_goods': 3...",13515.650000000001,11047.36,885.64,1582.65,2005-12-06 00:00:00,2006-01-07 00:00:00,32 days 00:00:00
22,624,656,33,"[28929, 29096, 34180, 34331, 34776, 36185, 363...","{'concessions': 1343, 'grain_goods': 166, 'bev...",115298.76000000001,96600.27,7452.1,11246.390000000001,2005-12-06 00:00:00,2006-01-07 00:00:00,32 days 00:00:00
23,646,684,39,"[34138, 34142, 34385, 34505, 37154, 37308, 382...","{'beverages': 201, 'meat': 174, 'junk_food': 1...",95500.77000000002,82538.68000000001,8120.28,4841.8099999999995,2005-12-28 00:00:00,2006-02-04 00:00:00,38 days 00:00:00
24,659,711,53,"[35656, 35656, 40476, 40476, 48980, 48980, 526...","{'home_family': 1845, 'misc': 39, 'grain_goods...",111855.79000000001,100953.57,10902.220000000001,0.0,2006-01-10 00:00:00,2006-03-03 00:00:00,52 days 00:00:00
25,659,691,33,"[28929, 29096, 29789, 30177, 31126, 32124, 324...","{'junk_food': 364, 'dairy': 182, 'meat': 92, '...",157591.39,142027.28,10483.05,5081.06,2006-01-10 00:00:00,2006-02-11 00:00:00,32 days 00:00:00
26,224,264,41,"[9528219, 1431498, 1735047, 937736, 944852, 11...","{'home_family': 605, 'grain_goods': 513, 'dair...",385838.16000000003,71944.34000000001,29644.379999999997,284249.44,2004-11-01 00:00:00,2004-12-11 00:00:00,40 days 00:00:00
27,237,300,64,"[34214, 34214, 34214, 34214, 48728, 48728, 487...","{'home_family': 321, 'produce': 172, 'misc': 8...",41791.54,9743.900000000001,4654.83,27392.81,2004-11-14 00:00:00,2005-01-16 00:00:00,63 days 00:00:00
28,259,320,62,"[28919, 28929, 29096, 29479, 30531, 31349, 324...","{'dairy': 274, 'grain_goods': 125, 'junk_food'...",87188.81000000001,22024.22,10702.87,54461.72000000001,2004-12-06 00:00:00,2005-02-05 00:00:00,61 days 00:00:00
29,281,334,54,"[34505, 37154, 42721, 61169, 64543, 66392, 666...","{'dairy': 213, 'junk_food': 144, 'grain_goods'...",90551.51000000001,23911.41,9002.630000000001,57637.47000000001,2004-12-28 00:00:00,2005-02-19 00:00:00,53 days 00:00:00
30,323,369,47,"[2224647, 3052359, 131847, 102527, 839818, 697...","{'home_family': 888, 'grain_goods': 357, 'dair...",369054.06,129675.03,32092.850000000002,207286.18000000002,2005-02-08 00:00:00,2005-03-26 00:00:00,46 days 00:00:00

In [133]:
campaign_products = campaigns.loc[:,'13']['Listed Products'].split(',').strip()

In [134]:
campaign_products

['[1085765',
 ' 12673308',
 ' 316011',
 ' 1049788',
 ' 1164410',
 ' 1913500',
 ' 2701357',
 ' 977014',
 ' 1025176',
 ' 1807637',
 ' 1013615',
 ' 944172',
 ' 490823',
 ' 1127758',
 ' 388636',
 ' 2056950',
 ' 9837539',
 ' 9837565',
 ' 13653496',
 ' 10121829',
 ' 5996007',
 ' 1885849',
 ' 979551',
 ' 642584',
 ' 27978',
 ' 892923',
 ' 29431',
 ' 1129805',
 ' 821553',
 ' 1096332',
 ' 1017782',
 ' 1005149',
 ' 79954',
 ' 1060831',
 ' 1038743',
 ' 28889',
 ' 1653930',
 ' 76249',
 ' 1070748',
 ' 1058115',
 ' 897733',
 ' 1038515',
 ' 847966',
 ' 834061',
 ' 6391149',
 ' 6391176',
 ' 6391203',
 ' 100505',
 ' 1016360',
 ' 955937',
 ' 95924',
 ' 13512387',
 ' 901039',
 ' 6979723',
 ' 6961684',
 ' 6944606',
 ' 9337208',
 ' 9337171',
 ' 9337170',
 ' 9296440',
 ' 935200',
 ' 983784',
 ' 10285149',
 ' 10285187',
 ' 1101771',
 ' 13513135',
 ' 13512682',
 ' 12523563',
 ' 12527821',
 ' 12523993',
 ' 12538907',
 ' 12524960',
 ' 12526314',
 ' 12523992',
 ' 12541857',
 ' 12524009',
 ' 1014107',
 ' 9368403',
 ' 889711',
 ' 6534258',
 ' 974539',
 ' 1010274',
 ' 1026690',
 ' 1040051',
 ' 13416235',
 ' 13416485',
 ' 977886',
 ' 927648',
 ' 1065670',
 ' 9527066',
 ' 9550231',
 ' 9658650',
 ' 9400799',
 ' 9439495',
 ' 9489216',
 ' 9400840',
 ' 9527161',
 ' 9551725',
 ' 9500811',
 ' 12352172',
 ' 12352042',
 ' 12510112',
 ' 12695508',
 ' 13382200',
 ' 963491',
 ' 846429',
 ' 107157',
 ' 2953749',
 ' 924705',
 ' 928749',
 ' 399861',
 ' 831246',
 ' 1896358',
 ' 1071244',
 ' 834435',
 ' 395388',
 ' 13382168',
 ' 1414313',
 ' 910109',
 ' 2046440',
 ' 1111786',
 ' 3818366',
 ' 2291460',
 ' 1316267',
 ' 853695',
 ' 1016495',
 ' 981917',
 ' 968563',
 ' 1372747',
 ' 1187700',
 ' 898103',
 ' 1135983',
 ' 5708977',
 ' 1065556',
 ' 948651',
 ' 88510',
 ' 1033988',
 ' 69267',
 ' 2568580',
 ' 1532888',
 ' 871756',
 ' 1398779',
 ' 1970377',
 ' 1026670',
 ' 1278319',
 ' 1102207',
 ' 1725734',
 ' 1047619',
 ' 1191920',
 ' 2014331',
 ' 8354836',
 ' 8181585',
 ' 8180870',
 ' 8201292',
 ' 1231958',
 ' 1553264',
 ' 1838878',
 ' 905286',
 ' 958349',
 ' 945090',
 ' 2512278',
 ' 1364972',
 ' 3035669',
 ' 2201446',
 ' 1146034',
 ' 879808',
 ' 892112',
 ' 1780910',
 ' 859753',
 ' 1113989',
 ' 9835254',
 ' 1069899',
 ' 1113554',
 ' 1092363',
 ' 1942285',
 ' 5543955',
 ' 9445752',
 ' 12809799',
 ' 13189991',
 ' 13186440',
 ' 13186441',
 ' 13210025',
 ' 13879392',
 ' 13910169',
 ' 13911257',
 ' 13911068',
 ' 15511944',
 ' 13940287',
 ' 13906641',
 ' 15973133',
 ' 12781730',
 ' 13411728',
 ' 13417960',
 ' 15597127',
 ' 15659991',
 ' 6443332',
 ' 6470600',
 ' 1117249',
 ' 881931',
 ' 5592443',
 ' 5590963',
 ' 985034',
 ' 838050',
 ' 1781866',
 ' 2624025',
 ' 1012406',
 ' 933736',
 ' 1556480',
 ' 1367386',
 ' 1782155',
 ' 968091',
 ' 884368',
 ' 900770',
 ' 9527448',
 ' 9527079',
 ' 853567',
 ' 1127396',
 ' 1083118',
 ' 1033723',
 ' 864216',
 ' 943690',
 ' 916811',
 ' 1031027',
 ' 930420',
 ' 6961590',
 ' 6961517',
 ' 1105795',
 ' 978390',
 ' 1110580',
 ' 1302860',
 ' 895618',
 ' 1001926',
 ' 1118590',
 ' 1040773',
 ' 1018204',
 ' 870271',
 ' 833201',
 ' 9527254',
 ' 9527255',
 ' 1127863',
 ' 888391',
 ' 1028421',
 ' 1103408',
 ' 1090811',
 ' 1127695',
 ' 923980',
 ' 877826',
 ' 1044845',
 ' 947039',
 ' 1129954',
 ' 12351783',
 ' 6961509',
 ' 871652',
 ' 1164803',
 ' 924739',
 ' 964186',
 ' 1018696',
 ' 2434629',
 ' 902820',
 ' 2055807',
 ' 838971',
 ' 864579',
 ' 912620',
 ' 398102',
 ' 860409',
 ' 1158935',
 ' 1729877',
 ' 1128399',
 ' 261359',
 ' 864995',
 ' 444854',
 ' 1064877',
 ' 325486',
 ' 13134456',
 ' 13190349',
 ' 12825765',
 ' 12987975',
 ' 12825766',
 ' 12987976',
 ' 12813763',
 ' 12785200',
 ' 12988031',
 ' 1011841',
 ' 896292',
 ' 58673',
 ' 938701',
 ' 7466774',
 ' 876750',
 ' 898762',
 ' 1105635',
 ' 880780',
 ' 1133654',
 ' 13417139',
 ' 911976',
 ' 7466938',
 ' 90473',
 ' 6981661',
 ' 6979345',
 ' 9836679',
 ' 441768',
 ' 1100691',
 ' 1383142',
 ' 2018499',
 ' 853522',
 ' 2792285',
 ' 117392',
 ' 1076161',
 ' 804002',
 ' 12523889',
 ' 9837995',
 ' 9836679',
 ' 441768',
 ' 1100691',
 ' 1383142',
 ' 2018499',
 ' 1605795',
 ' 5569993',
 ' 9526680',
 ' 1093468',
 ' 6391267',
 ' 822032',
 ' 5572180',
 ' 10204775',
 ' 8276236',
 ' 8183604',
 ' 8118727',
 ' 8124401',
 ' 8353487',
 ' 8019417',
 ' 947287',
 ' 1338136',
 ' 1026292',
 ' 1285789',
 ' 1034619',
 ' 1474324',
 ' 1485911',
 ' 848681',
 ' 1117358',
 ' 15511773',
 ' 15660132',
 ' 1039224',
 ' 91724',
 ' 1805659',
 ' 1099510',
 ' 1100927',
 ' 28041',
 ' 2477817',
 ' 1064816',
 ' 973916',
 ' 29414',
 ' 904240',
 ' 950638',
 ' 1960863',
 ' 904997',
 ' 1123321',
 ' 1065849',
 ' 1500909',
 ' 2616282',
 ' 60466',
 ' 1857336',
 ' 969725',
 ' 846014',
 ' 2012906',
 ' 948769',
 ' 983002',
 ' 867420',
 ' 930531',
 ' 989194',
 ' 9419977',
 ' 7440848',
 ' 13876378',
 ' 853449',
 ' 648042',
 ' 840938',
 ' 1171832',
 ' 884677',
 ' 13416167',
 ' 9672692',
 ' 15972820',
 ' 927060',
 ' 10121559',
 ' 8012419',
 ' 8012554',
 ' 7466991',
 ' 980714',
 ' 1903958',
 ' 1090507',
 ' 1069646',
 ' 987575',
 ' 1053669',
 ' 1060526',
 ' 989222',
 ' 1065032',
 ' 825437',
 ' 1110721',
 ' 1722254',
 ' 949120',
 ' 9859379',
 ' 7167316',
 ' 839362',
 ' 966075',
 ' 1108141',
 ' 6513802',
 ' 1008531',
 ' 1770364',
 ' 895478',
 ' 1449469',
 ' 1098765',
 ' 1072659',
 ' 1015532',
 ' 1635817',
 ' 1077383',
 ' 927508',
 ' 903852',
 ' 7168026',
 ' 7169088',
 ' 7166861',
 ' 7441180',
 ' 7166862',
 ' 7168055',
 ' 7168056',
 ' 7168057',
 ' 7169089',
 ' 358107',
 ' 6979097',
 ' 6979773',
 ' 6978887',
 ' 6981521',
 ' 6979222',
 ' 6980358',
 ' 7033739',
 ' 6982117',
 ' 6979758',
 ' 858893',
 ' 2688043',
 ' 937060',
 ' 1313591',
 ' 891520',
 ' 1148564',
 ' 2062218',
 ' 853522',
 ' 2792285',
 ' 117392',
 ' 1076161',
 ' 804002',
 ' 12523889',
 ' 9837995',
 ' 9836679',
 ' 441768',
 ' 1100691',
 ' 1383142',
 ' 2018499',
 ' 853522',
 ' 2792285',
 ' 117392',
 ' 1076161',
 ' 10204672',
 ' 2494882',
 ' 984940',
 ' 950148',
 ' 939652',
 ' 977411',
 ' 1091342',
 ' 1059401',
 ' 851496',
 ' 12692072',
 ' 12759438',
 ' 12808965',
 ' 12946027',
 ' 13095289',
 ' 13097521',
 ' 1957271',
 ' 844697',
 ' 2660447',
 ' 45753',
 ' 872342',
 ' 1767311',
 ' 831181',
 ' 2033391',
 ' 897671',
 ' 13416117',
 ' 997119',
 ' 887139',
 ' 1058185',
 ' 501112',
 ' 980353',
 ' 900379',
 ' 1111239',
 ' 66173',
 ' 863429',
 ' 1013925',
 ' 1032969',
 ' 6961354',
 ' 1018505',
 ' 9802588',
 ' 828910',
 ' 13510795',
 ' 9552730',
 ' 15741546',
 ' 927485',
 ' 1857755',
 ' 1315046',
 ' 1092176',
 ' 940996',
 ' 1196052',
 ' 241227',
 ' 992826',
 ' 1204179',
 ' 6979198',
 ' 904899',
 ' 10356469',
 ' 1027419',
 ' 1297116',
 ' 1002824',
 ' 1261479',
 ' 1039495',
 ' 6772846',
 ' 1051925',
 ' 6442712',
 ' 9553363',
 ' 840260',
 ' 1088308',
 ' 898392',
 ' 1033887',
 ' 1022118',
 ' 997111',
 ' 6772835',
 ' 6961505',
 ' 6978983',
 ' 6979648',
 ' 6919355',
 ' 6979025',
 ' 6944612',
 ' 6979262',
 ' 12427539',
 ' 9553164',
 ' 6442787',
 ' 6442692',
 ' 9527123',
 ' 1061975',
 ' 8118787',
 ' 999781',
 ' 6391249',
 ' 6391148',
 ' 889737',
 ' 1005637',
 ' 679538',
 ' 917541',
 ' 1031468',
 ' 1084001',
 ' 6703962',
 ' 7166863',
 ' 7166864',
 ' 7166865',
 ' 7168431',
 ' 7160185',
 ' 7190161',
 ' 7168058',
 ' 7166866',
 ' 7168432',
 ' 9296945',
 ' 9297305',
 ' 9297334',
 ' 9296986',
 ' 13382529',
 ' 13381985',
 ' 13523431',
 ' 13382252',
 ' 13380681',
 ' 13382465',
 ' 13381915',
 ' 9677149',
 ' 6514144',
 ' 1023697',
 ' 921002',
 ' 990289',
 ' 371973',
 ' 5757604',
 ' 438084',
 ' 965889',
 ' 995072',
 ' 1420110',
 ' 1091401',
 ' 860456',
 ' 971486',
 ' 5564773',
 ' 6514222',
 ' 7147317',
 ' 9296987',
 ' 9297496',
 ' 7169091',
 ' 7169092',
 ' 7168059',
 ' 7168434',
 ' 1128182',
 ' 992650',
 ' 567054',
 ' 1070566',
 ' 911301',
 ' 886440',
 ' 253364',
 ' 1767195',
 ' 842769',
 ' 832760',
 ' 12527335',
 ' 12524275',
 ' 12525256',
 ' 12527797',
 ' 12530431',
 ' 12525346',
 ' 12541932',
 ' 12538549',
 ' 12524699',
 ' 1657113',
 ' 1128464',
 ' 2093631',
 ' 1148058',
 ' 869577',
 ' 680468',
 ' 1667477',
 ' 2618713',
 ' 1095068',
 ' 804002',
 ' 12523889',
 ' 9837995',
 ' 9836679',
 ' 441768',
 ' 1100691',
 ' 1383142',
 ' 2018499',
 ' 853522',
 ' 2792285',
 ' 117392',
 ' 1076161',
 ' 804002',
 ' 12523889',
 ' 9837995',
 ' 1337581',
 ' 1978551',
 ' 857074',
 ' 1533914',
 ' 1461298',
 ' 307003',
 ' 1882097',
 ' 1115971',
 ' 8161166',
 ' 8205418',
 ' 8180751',
 ' 8175921',
 ' 60867',
 ' 1510225',
 ' 1091409',
 ' 1223225',
 ' 12949757',
 ' 12949786',
 ' 13653499',
 ' 13955331',
 ' 13505863',
 ' 13512060',
 ' 13512828',
 ' 15741919',
 ' 12729667',
 ' 12781725',
 ' 12988861',
 ' 13118429',
 ' 12728994',
 ' 12782181',
 ' 13118427',
 ' 13672161',
 ' 13906643',
 ' 1358073',
 ' 59073',
 ' 59829',
 ' 1368394',
 ' 2493204',
 ' 940726',
 ' 1812894',
 ' 932694',
 ' 9245921',
 ' 6703768',
 ' 6704296',
 ' 10356218',
 ' 10356658',
 ' 6961527',
 ' 12352196',
 ' 12351981',
 ' 13877223',
 ' 8359213',
 ' 977414',
 ' 10356148',
 ' 10356531',
 ' 1048743',
 ' 1129839',
 ' 9552826',
 ' 992304',
 ' 895190',
 ' 1006573',
 ' 1048889',
 ' 953582',
 ' 709863',
 ' 850944',
 ' 930116',
 ' 819227',
 ' 10355870',
 ' 13039540',
 ' 13039872',
 ' 13040310',
 ' 13041899',
 ' 13040387',
 ' 13986552',
 ' 867322',
 ' 846091',
 ' 6961502',
 ' 1008851',
 ' 1098172',
 ' 1045420',
 ' 931791',
 ' 1031056',
 ' 986813',
 ' 883788',
 ' 1080829',
 ' 7160186',
 ' 7166797',
 ' 427618',
 ' 849697',
 ' 1701964',
 ' 849578',
 ' 938596',
 ' 1621048',
 ' 9677435',
 ' 9677846',
 ' 9677152',
 ' 9677543',
 ' 896803',
 ' 951350',
 ' 913744',
 ' 839784',
 ' 8020118',
 ' 8020010',
 ' 1075179',
 ' 1137899',
 ' 1013307',
 ' 834737',
 ' 9416402',
 ' 2406072',
 ' 9365503',
 ' 9392337',
 ' 9365621',
 ' 9365622',
 ' 12487611',
 ' 12487711',
 ' 2456277',
 ' 120821',
 ' 1431715',
 ' 989150',
 ' 2633812',
 ' 124239',
 ' 1335640',
 ' 1112825',
 ' 123604',
 ' 1028891',
 ' 433372',
 ' 955921',
 ' 873085',
 ' 1104831',
 ' 10204673',
 ' 978614',
 ' 1128344',
 ' 904048',
 ' 1027261',
 ' 1096865',
 ' 1068078',
 ' 1250047',
 ' 79411',
 ' 867547',
 ' 603978',
 ' 835247',
 ' 2032391',
 ' 851683',
 ' 1090247',
 ' 2379403',
 ' 1231742',
 ' 1865836',
 ' 551731',
 ' 935990',
 ' 819063',
 ' 1120213',
 ' 1602876',
 ' 92436',
 ' 2637153',
 ' 561604',
 ' 1479134',
 ' 86148',
 ' 819304',
 ' 2046755',
 ' 1031083',
 ' 1180421',
 ' 9836679',
 ' 441768',
 ' 1100691',
 ' 1383142',
 ' 2018499',
 ' 853522',
 ' 2792285',
 ' 117392',
 ' 9911505',
 ' 9885054',
 ' 9885047',
 ' 13137977',
 ' 1002459',
 ' 1750654',
 ' 969419',
 ' 71221',
 ' 852998',
 ' 988572',
 ' 1266438',
 ' 1847146',
 ' 55148',
 ' 1405468',
 ' 1107289',
 ' 51640',
 ' 1001148',
 ' 1760361',
 ' 1438829',
 ' 1966792',
 ' 959409',
 ' 1009850',
 ' 10212551',
 ' 2081843',
 ' 9860025',
 ' 10296055',
 ' 10250444',
 ' 9836903',
 ' 10123333',
 ' 13672065',
 ' 13671735',
 ' 13672066',
 ' 12731386',
 ' 12491541',
 ' 12731516',
 ' 12731478',
 ' 12731708',
 ' 13002775',
 ' 12731536',
 ' 12452939',
 ' 12456867',
 ' 12456785',
 ' 438053',
 ' 1441340',
 ' 983795',
 ' 119551',
 ' 989703',
 ' 13382349',
 ' 994340',
 ' 754561',
 ' 77615',
 ' 934809',
 ' 837951',
 ' 934788',
 ' 2081960',
 ' 1116596',
 ' 986259',
 ' 13775473',
 ' 13777061',
 ' 1085138',
 ' 995771',
 ' 1082752',
 ' 861641',
 ' 827019',
 ' 2620410',
 ' 6544510',
 ' 1273010',
 ' 1005172',
 ' 752344',
 ' 131672',
 ' 970351',
 ' 1039672',
 ' 129787',
 ' 984317',
 ' 1785732',
 ' 991747',
 ' 825176',
 ' 1071355',
 ' 928589',
 ' 1013868',
 ' 1060043',
 ' 941822',
 ' 889355',
 ' 3786501',
 ' 941079',
 ' 1076161',
 ' 804002',
 ' 12523889',
 ' 9837995',
 ' 9836679',
 ' 1115553',
 ' 91572',
 ' 911338',
 ' 1334754',
 ' 120298',
 ' 1046047',
 ' 955399',
 ' 1269391',
 ' 976047',
 ' 983535',
 ' 990004',
 ' 9296856',
 ' 9294964',
 ' 9297474',
 ' 9299998',
 ' 13007518',
 ' 1081677',
 ' 1605836',
 ' 830815',
 ' 1480838',
 ' 2801474',
 ' 1508314',
 ' 83153',
 ' 84957',
 ' 1077540',
 ' 2186541',
 ' 864532',
 ' 635053',
 ' 81353',
 ' 1644387',
 ' 1122547',
 ' 89337',
 ' 861486',
 ' 1103903',
 ' 1321176',
 ' 1538803',
 ' 1005105',
 ' 1163953',
 ' 12781512',
 ' 12989469',
 ' 12781608',
 ' 12989669',
 ' 12781558',
 ' 12989470',
 ' 884554',
 ' 1448516',
 ' 855302',
 ' 866889',
 ' 1564754',
 ' 1448188',
 ' 1002980',
 ' 62814',
 ' 972041',
 ' 15863593',
 ' 15863857',
 ' 15863864',
 ' 6703894',
 ' 1836966',
 ' 87705',
 ' 825970',
 ' 71827',
 ' 865992',
 ' 1283899',
 ' 2628750',
 ' 12781921',
 ' 13002777',
 ' 820122',
 ' 1982616',
 ' 5127967',
 ' 1001266',
 ' 2972088',
 ' 1383212',
 ' 1908407',
 ' 251127',
 ' 787357',
 ' 1042907',
 ' 1440310',
 ' 1985394',
 ' 119064',
 ' 829645',
 ' 1332616',
 ' 9296407',
 ' 6391083',
 ' 6391144',
 ' 1067396',
 ' 902181',
 ' 840573',
 ' 1022066',
 ' 13513344',
 ' 12384177',
 ' 9677886',
 ' 9676851',
 ' 10118758',
 ' 9676938',
 ' 845676',
 ' 59693',
 ' 2370700',
 ' 858514',
 ' 442520',
 ' 1131047',
 ' 1136848',
 ' 83469',
 ' 981745',
 ' 4736439',
 ' 953434',
 ...]

In [126]:
campaign_products.merge(merged, on='PRODUCT_ID')

AttributeError: 'str' object has no attribute 'merge'

# The Recommend Function

- Items that might make us the most money alongside other products?
    - to do this, we could calculate an 'average item cost' using the REAL SHELF PRICE mean for all transactions with that PRODUCT_ID. --> how much money a transaction for that PRODUCT brings into our stores, on average, as revenue.
    
- Items that similar customers have been interested in
    -> by conviction
    -> by lift
    
- Items that this household has purchased before?
    -> which -categories of -products-- are most influenced by:
        - advertising campaigns
    -> less influenced? perhaps advertising is better suited in other categories
    
- Items that this household has recently purchased?
    -> that are out of the usual?



What is necessary for each to function?

In [ ]:
df = merged[merged['household_key'] == 1]
sp_tbl = get_support_table(df, min_support=0.001) # 1 in 1000 occurrence
rules = assoc_table(sp_tbl, metric='lift', min_threshold=1) 
rules.head()

In [ ]:
metric = 'lift'
assoc_table = rules
prev_purchases = ['APPLES']

def recommend(self, prev_purchases:list, howmany=5):
    '''meat and bones of the recommender system...
    accepts:
        prev_purchases: a list of previously purchased items
        howmany: (int) how many recommendations you want

    returns:
        a series consisting of the top 5 results given the metric value.
        '''
    search_terms = list(prev_purchases) # handles frozensets?
    # apply list to 'antecedent' in assoc_table
    search_series = pd.Series(assoc_table['antecedents'].apply(list)) 

    print(f'Searching for {search_terms}...')
    indexes_of_matches = []

    # for each antecedent chain...
    for item in search_terms:
        # iterate through the list of "antecedent" rows **search_series**
        for idx, val in search_series.iteritems():
            if item in val: # if the item is in the row (list of antecedents)..
                indexes_of_matches.append(idx)

    rules = assoc_table.loc[indexes_of_matches]


    # RETURN TOP 5 LIFT CONSEQUENTS
    return rules.sort_values(metric, ascending=False)[:howmany]['consequents']

In [ ]:
def recommend(self, antecedents:list, metric='lift'):
    '''meat and bones of the recommender system...
    accepts:
        prev_purchases: a list of previously purchased items
        howmany: (int) how many recommendations you want

    returns:
        a series consisting of the top 5 results given the self.metric value.
        '''
    search_terms = list(prev_purchases) # handles frozensets?
    
    # apply list to 'antecedent' in self.assoc_table
    search_series = pd.Series(self.assoc_table['antecedents'].apply(list)) 

    print(f'Searching for {search_terms}...')
    indexes_of_matches = []

    # for each antecedent chain...
    for item in search_terms:
        # iterate through the list of "antecedent" rows **search_series**
        for idx, val in search_series.iteritems():
            if item in val: # if the item is in the row (list of antecedents)..
                indexes_of_matches.append(idx)

    rules = self.assoc_table.loc[indexes_of_matches]